<div class="authorPic" >
<img src="../images/me.jpg" style="float:right">
</div>
<h1>Créditos</h1>
<h3><b>Nombre:</b> <%= authorname %></h3>
<p><b>Working as:</b> System administrator specialist
</p>
<p><b>Open source projects collaborator:</b> Several plugins for the awesome personal wiki <a href="http://http://tiddlywiki.com/">tiddlywiki</a></p>