<p><label for="Topic" class="rem">Categoría:</label>
<select name="quiz[tema]" id="topic">
  <option value="otro" selected>Otro</option>
  <option value="humanidades">Humanidades</option>
  <option value="ocio">Ocio</option>
  <option value="ciencia">Ciencia</option>
  <option value="tecnologia">Tecnología</option>
</select></p>

<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" placeholder="Pregunta" value="<%= quiz.pregunta %>"/> <p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" placeholder="Respuesta" value="<%= quiz.respuesta %>"/> <p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">


<script type="text/javascript">
    var tema="<%= quiz.tema %>";
    tema= tema === "undefined" ? "otro" : tema;
    document.getElementById("topic").value = tema.toLowerCase();
</script>